#container mysql
MYSQL_HOST=mysql # nome do container
MYSQL_DATABASE=recipes_db 
MYSQL_USER=recipes_app 
MYSQL_PASSWORD=my_strong_password
MYSQL_ROOT_PASSWORD=my_strong_password
MySQL_PORT=3306
MYSQL_POOL_SIZE=5
MYSQL_POOL_NAME=my_pool

#container mongo 
MONGO_HOST=mongo
PORT_MONGO=27017
MONGO_INITDB_ROOT_USERNAME=roott
MONGO_INITDB_ROOT_PASSWORD=my_strong_password
MONGO_INITDB_DATABASE=recipes
MONGO_MIN_POOL_SIZE=5
MONGO_MAX_POOL_SIZE=20

#container redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_MAX_CONNECTIONS=20

#application
ACCESS_TOKEN_EXPIRE_MINUTES=60
SECRET_KEY=my_secret_key
ALGORITHM=HS256
PORT=8000

# object storage
AWS_S3_BUCKET=recipes
AWS_S3_ENDPOINT_URL=http://localstack:4566
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test